.left {
  width: 15%;
  float: left;
  background-color: whitesmoke;
  color: black;
  text-align: center;
  /*font-weight: bold;*/
}

.right {
  width: 15%;
  float: right;
  background-color: whitesmoke;
  color: black;
  text-align: center;
  font-weight: bold;
}

.center {
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}

.subtitle {
  text-align: center;
  font-style: italic;
}

h1 {
  text-align: center;
  color: black;
  font-size: 80px;
}

html {
  background-color: #A24A37;
  color: black;
}

.link {
  color: rgb(0, 4, 232);
}

.link:hover {
  color: #007BE8;
}

h3 {
  text-decoration: none;
  font-size: 30px;
  color: black;
}

.float {
  font-weight: bold;
  font-size: 20px;
  color: red;
  font-style: italic;
}

.span {
  font-weight: bold;
  font-size: 20px;
  color: yellow;
  font-style: italic;
}

p {
  font-size: 20px;
  font-family: verdana;
  text-align: justify;
}

.pfloat {
  text-align: center;
}